.st-key-report button{
    background-color: #FFA100;
    border-radius: 10px;
    border : #FFA100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.st-key-report button p{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.st-key-report button:hover{
    background-color: #d68800;
}

.st-key-report button:hover p{
    color: #000000;
}

.st-key-report button:focus{
    background-color: #d68800;
}

.st-key-report button:focus p{
    color: #000000;
}










.st-key-save button{
    background-color: #FFA100;
    border-radius: 10px;
    border : #FFA100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.st-key-save button p{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.st-key-save button:hover{
    background-color: #d68800;
}

.st-key-save button:hover p{
    color: #000000;
}

.st-key-save button:focus{
    background-color: #d68800;
}

.st-key-save button:focus p{
    color: #000000;
}







.st-key-back button{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.st-key-back button p{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.st-key-back button:hover{
    background-color: white;
    border:#FFA100
    
}

.st-key-back button:hover p{
    color: #000000;
}

.st-key-back button:focus{
    background-color: white;
    border:#FFA100;
}

.st-key-back button:focus p{
    color: #000000;
}